body {
    font-family: Helvetica;
}

p {
    font-size: 12 px;
}

img {
    height: 320px;
}

.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.small {
    height: 50px;
    width: 70 px;
}



