h1, h2 {
    color: purple;
    font-size: 96px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 5px;
    border: 1px solid black;
    border-style: dotted;
    padding-left: 15 px;
}

img {
    height: 320px; */
}

em {
    text-transform: uppercase;
    font-style: initial;
}
#first {
    text-align: left;
}
.right {
    text-align: right;
}

/* body {
    background-color: blue;
}
*/

.big {
    font-size: 32px;
    text-decoration: underline;
}

right .big {
    font-size: 48px;
}

p {
    text-align: center;
    font-family: helvetica;
}



